.button {
	-fx-background-color: #a9a9a9;
}

#colorbox {
	-fx-alignement: center;
	-fx-background-color: #333333;
	-fx-background-radius: 30 0 0 50;
}

#functionbox {
	-fx-alignement: center;
	-fx-background-color: #333333;
	-fx-background-radius: 30 0 0 50;
}

#matrixbox {
	-fx-alignement: center;
	-fx-background-color: #333333;
	-fx-background-radius: 30 0 0 50;
}

#zoombox {
	-fx-alignement: center;
	-fx-background-color: #333333;
	-fx-background-radius: 30 0 0 50;
}

#lFunction {
	-fx-text-fill: #39FF14;
}

#lZoom {
	-fx-text-fill: #39FF14;
}

#bZoom {
	-fx-background-radius: 15;
}

#bFunction {
	-fx-background-radius: 15;
}

#bMatrix {
	-fx-background-radius: 15;
}

#bColor {
	-fx-background-radius: 15;
}


#bFunctionEnter {
	-fx-background-color: #333333;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
	-fx-text-fill: #39FF14;
}

#bFunctionEnter:hover {
	-fx-background-color: #333333;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
	-fx-effect: dropshadow(three-pass-box, #39FF14, 10, 0.3, 0, 0);
	-fx-text-fill: #39FF14;
}

#bFunctionEnter:pressed {
	-fx-background-color: #8DFF8D;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
}

.text-field {
	-fx-background-color: #39FF14, #333333;
	-fx-background-insets: 0 -1 0 -1,, 0 -1 2 -1;
}

.text-field:hover {
	-fx-background-color: #39FF14, #333333;
	-fx-background-insets: 0 -1 0 -1,, 0 -1 2 -1;
	-fx-effect: dropshadow(three-pass-box, #39FF14, 10, 0.3, 0, 0);
}

#bZoomEnter {
	-fx-background-color: #333333;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
}

#bZoomEnter:hover {
	-fx-background-color: #333333;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
	-fx-effect: dropshadow(three-pass-box, #39FF14, 10, 0.3, 0, 0);
}

#bZoomEnter:pressed {
	-fx-background-color: #8DFF8D;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
}

#bMatrixEnter {
	-fx-background-color: #333333;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
	-fx-text-fill: #39FF14;
}

#bMatrixEnter:hover {
	-fx-background-color: #333333;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
	-fx-effect: dropshadow(three-pass-box, #39FF14, 10, 0.3, 0, 0);
	-fx-text-fill: #39FF14;
}
#bMatrixEnter:pressed {
	-fx-background-color: #8DFF8D;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
}
#bColorEnter {
	-fx-background-color: #333333;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
	-fx-text-fill: #39FF14;
}

#bColorEnter:hover {
	-fx-background-color: #333333;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
	-fx-effect: dropshadow(three-pass-box, #39FF14, 10, 0.3, 0, 0);
	-fx-text-fill: #39FF14;
}
#bColorEnter:pressed {
	-fx-background-color: #8DFF8D;
	-fx-border-radius: 5;
	-fx-border-color: #39FF14;
}